/*面包屑*/
.crumbs-box{font-size:14px;height: 50px;line-height: 50px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.crumbs-box .site-icon{color:#888889;font-size: 16px;vertical-align: middle;}
.crumbs-box .crumbs-link{color:#727272;}
.crumbs-box .crumbs-link:hover{text-decoration: underline;color:red;}
.crumbs-box .crumbs-arrow{font-family: "宋体";padding: 0 4px;}
.crumbs-box .crumbs-name{color:#f7372c;}
/*面包屑 end*/