body{background-color:#f5f5f5}
.container{width: 1200px;margin:auto;}
.pub-icon{background:url(../images/pub-icon.png) no-repeat;}
.c-red{color: #f7372c;}
/*右侧广告*/
.adv-box{margin-bottom:12px;}
/*右侧广告 end*/
.doc{color:#2951b3;}
.xls{color:#327051;}
.pdf{color:#bc4040;}
.ppt{color:#973a33;}
.rtf{color:#6289bc;}