.subnav-box{padding:0 0 16px 20px;}
.subnav-list{color:#727272;font-size:14px;}
.subnav-list .subnav-name{float:left;height:22px;line-height:22px;margin-top:5px;}
.subnav-list .link-list{float:left;width:820px;}
.subnav-list .link{color:#727272;display: block;height:22px;line-height:22px;padding:0 4px;border-radius:4px;float:left;margin:3px 10px 3px 0;}
.subnav-list .select,.subnav-list .link:hover{color:#fff;background-color:#f7372c;}