.main-nav-box{padding: 18px 0;background-color: #fff;}
.main-nav{border-left:4px solid #ff0000;height: 18px;line-height: 18px;}
.main-nav .link-list{font-size: 18px;float: left;padding: 0 24px;}
.main-nav .link{color:#5b5b5b;}
.main-nav .select .link,.main-nav .link:hover{color:#ff0000;}