
.footer{background-color:#333;padding:1rem 0}
.footer .foot-link{color:#bcbcbc;text-align:center;font-size:1.3rem;padding-bottom:.5rem;}
.footer .link{color:#bcbcbc;}
// .footer .c-red{color:#f7372c}
.footer .link:hover,.footer .link:active{color:#f7372c}
.footer .foot-line{}
.footer .foot-list{color:#bcbcbc;text-align:center;font-size:1.3rem;}
.footer .sitemap-link{color:#bcbcbc;}