@import 'module/crumbs';//面包屑
@import 'module/page';//分页
@import 'module/toolbar';//右侧导航
@import 'module/subnav2';//子导航

/*链接云*/
.link-main{background-color: #fff;margin:10px 0 20px;padding:26px 0 26px 30px;}
.link-cloud{font-size: 16px;padding-bottom:40px;}
.link-cloud .link{color:#5b5b5b;display: block;margin-right: 30px;float: left;line-height: 36px;}
.link-cloud .select,.link-cloud .link:hover{color:#f7372c;}
/*链接云 end*/


