body{background-color: #f5f5f5;}
.gone_wapper{}
.gone_wapper .icon{width: 100%;display: block;}
.gone_wapper .content_title{color: #fdb92b;font-size: 1.7rem;}
.gone_wapper .content_subTitle{color: #5b5b5b;font-size: 1.4rem;padding-top: .4rem;}
.gone_wapper .content-top{text-align: center;padding: 3rem 0;}
.gone_wapper .content_btns{padding-top: 2rem;}
.gone_wapper .btn{display: inline-block;height: 4rem;line-height: 4rem;padding: 0 2rem;background-color: #1581f4;color: #fff;font-size: 1.5rem;border-radius: 3px;margin: 0 .6rem;}
.gone_wapper .btn2{background-color: #fdb92b;}
.gone_wapper .link-list-box{background: #fff;margin: 1rem 1rem 2rem;padding: 1rem;}
.gone_wapper .link-list{float: left;width: 33.33%;}
.gone_wapper .link{color: #5b5b5b;font-size: 1.4rem;padding: .4rem 0;}
.gone_wapper .link:hover, .gone_wapper .link-list.active .link{color: #f7372c;}

/*search-bar*/
.search-bar{padding: 20px 4%;}
.search-bar .search-input{color: #333;letter-spacing: 1px;font-size: 17px;border: 1px solid red;outline: none;height: 45px;width: 66%;float: left;text-indent: 1rem;border-radius: 4px 0 0 4px;}
.search-bar .search-input::-webkit-input-placeholder{
    color:#aaa;
}
.search-bar .search-btn{display: inline-block;color: #fff;font-size: 1.6rem;background: red;height:47px;line-height: 46px;vertical-align: sub;position: relative;float: left;width: 33%;text-align: center;border-radius: 0 4px 4px 0;letter-spacing: .3rem;}
/*search-bar end*/

.gone_wapper {
    .no-result-main{padding: 5rem 0;}
    .no-result-main .text{text-align: center;color: #727272;font-size: 1.2rem;line-height: 2.4rem;}
    .no-result-main .font-s{font-size: 1.8rem;}
    .no-result-main .result-btn{width: 40%;height: 4rem;line-height: 4rem;text-align: center;display: block;margin: 20px auto 0;background-color: #f51d1d;color: #fff;border-radius: 3px;font-size: 1.6rem;font-weight: normal;}
    .no-result-main .c-red{color: #f60202;}
    .no-result-main .result-btn:hover{opacity: .85;}
}
.else_content{
    background-color: #fff;padding: 1.5rem;margin: 1rem;
    .text{color: #f7372c;font-size: 1.5rem;padding-bottom: .6rem;}
    .link-list-box{margin: 0;padding: 0;}
}
