/*相关标签*/
.cat-box{padding:20px 0 26px;}
.cat-box .cat-link{color:#626262;font-size:14px;display:block;background-color:#e5e5e5;height:25px;line-height:25px;padding:0 6px;float:left;margin-left:8px;margin-bottom:8px;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}
.cat-box .cat-link:hover{background-color:#d8d8d8;color:#555;}
/*相关标签 end*/